.footer {
  // height: 100px;
  width: 100%;

  .footer__line {
    height: 3px;
    width: 100%;
    background-color: black;
    opacity: .1;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    margin-top: 20px;
  }

  .footer__wrapper__left {   
    padding: 10px;
    span {
      color: #f38381;
    }
  }

  .footer__wrapper__right {
    text-align: end;
    .email__input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(192, 192, 192);
    font-style: italic;
  }
  
  .subscribe__button {
    position: relative;
    left: -6px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #baedd5;
    color: black;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 500;

    &:hover {
      background-color: #f38381;
      transition: 0.3s;
    }
  }
}
}